################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TechStore/.vs
/TechStore/BackEnd/bin
/TechStore/BackEnd/obj
/TechStore/DAL/bin
/TechStore/DAL/obj
/TechStore/Entities/bin
/TechStore/Entities/obj
