################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BackEnd/bin
/BackEnd/obj
/DAL/bin
/DAL/obj
/Entities/bin
/Entities/obj
